<header class="header">
  <div class="header-inner">
    <div class="logo">
      <%= link_to "Study-keeper", root_path %>
    </div>
  
    <div class="header-nav">
      <% if user_signed_in? %> 
        <span class="username"><%= current_user.email %></span>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "login-btn" %>
        <%= link_to "ユーザー登録", new_user_registration_path, class: "signup-btn" %>
      <% end %>
    </div>
  </div>
</header>